@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
}

body {
    
    background-color: #0D1B1E;
}
















/* Nav Bar */

header {
    width: 100%;
    height: 80px;
    background-color: #0D1B1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 999;
    position: fixed;
}

.navlogo h1 {
    font: 16px;
    font-weight: 900;
    color: #B2FFA9;
}

.hamburger {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: #B2FFA9;
    border: 1px solid #B2FFA9;
    font-size: 16px;
    padding: 5px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar ul li a:hover {
    color: #0D1B1E;
    background-color: #B2FFA9;
    border: 1px solid #B2FFA9;
}

.navbar ul li .active {
    color: #0D1B1E;
    background-color: #B2FFA9;
    border: 1px solid #B2FFA9;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #B2FFA9;
        margin: 6px 0;
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 80px;
        right: 0;
        right: 0;
        width: 100vw;
        background-color: #0D1B1E;
        transition: 0.2s;
        overflow: hidden;
        z-index: 999;
    }

    .navbar.active {
        height: 450px;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .navbar.active ul{
        opacity: 1;
    }

    .navbar ul a {
        margin-bottom: 12px;
    }
}

/* Nav Bar */










































/* Hero Section */

.hero {
    height: 100vh;
    background-image:linear-gradient(#0d1b1e79, #0d1b1ed6), url(pics/ShanHero.JPG.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero .herocontent {
    text-align: center;
    width: 50%;
}

.hero .herocontent h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #B2FFA9;
    display: none;

}

.hero .herocontent h2 {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 5px;
    color: #B2FFA9;
    font-family: "Lobster Two", sans-serif;
}

.hero .herocontent p {
    font-size: 16px;
    color: #ffffff;
}

/* Hero Section */











































/* About Section */

.aboutsection {
    width: 100%;
}

.aboutsection .aboutcontainer {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}

.aboutsection .aboutcontainer .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.aboutsection .aboutcontainer .title h1 {
    font-size: 25px;
    font-family: "Lobster Two", sans-serif;
    color: #B2FFA9;
}

.aboutsection .aboutcontainer .title h1::after {
    content: "";
    height: 5px;
    width: 50px;
    background-color: #B2FFA9;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.aboutsection .aboutcontainer .content {
    float: left;
    width: 55%;
}

.aboutsection .aboutcontainer .content .article p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
}

.aboutsection .aboutcontainer .imagesection {
    float: right;
    width: 40%;
}

.aboutsection .aboutcontainer .imagesection img {
    width: 100%;
    height: auto;
    border: 4px solid #B2FFA9;
    border-radius: 25px;
}

.aboutsection .aboutcontainer .content .article .button {
    margin-top: 30px;
}

.aboutsection .aboutcontainer .content .article .button a {
    text-decoration: none;
    padding: 8px 25px;
    background: #B2FFA9;
    border-radius: 40px;
    color: #0D1B1E;
    border: 1px solid #B2FFA9;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.aboutsection .aboutcontainer .content .article .button a:hover {
    background-color: #0D1B1E;
    color: #B2FFA9;
}

.aboutsection .aboutcontainer .socialmediaicons {
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.aboutsection .aboutcontainer .socialmediaicons i {
    color: #B2FFA9;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    border: 1px solid #B2FFA9;
    margin: 0 5px;
}

.aboutsection .aboutcontainer .socialmediaicons i:hover {
    color: #0D1B1E;
    transition: 1s ease-in-out;
    transform: rotate(360deg);
    background-color: #B2FFA9;
}

@media screen and (max-width: 768px) {
    .aboutsection .aboutcontainer {
        width: 80%;
        display: block;
        margin: auto;
    }

    .aboutsection .aboutcontainer .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
    }

    .aboutsection .aboutcontainer .imagesection {
        float: none;
        width: 100%;
        margin-top: 40px;
        justify-content: center;
    }

    .aboutsection .aboutcontainer .imagesection img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.career {
    min-height: 40vh;
    width: 100%;
}

.career .article {
    width: 80%;
    margin-left: 10%;
}

.career .article h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Lobster Two", sans-serif;
    color: #B2FFA9;

}

.career .article h2::after {
    content: "";
    height: 5px;
    width: 50px;
    background-color: #B2FFA9;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.career .article p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 35px;
    text-align: center;
}


/* About Section */

























/* Services Section */

.services {
    width: 90%;
    background-color: #B2FFA9;
    border-radius: 25px;
    padding: 30px 20px;
    margin-left: 5%;
    margin-bottom: 20px;
}

.services .boxheading {
    font-size: 25px;
    color: #0D1B1E;
    font-family: "Lobster Two", sans-serif;
    text-align: center;
    padding: 20px 0;
}

.services .boxheading::after {
    content: "";
    height: 5px;
    width: 50px;
    background-color: #0D1B1E;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.services .boxcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 15px;
    padding: 20px;
}

.services .boxcontainer .box {
    padding: 10px;
    border-radius: 10px;
    background-color: #0D1B1E;
    text-align: center;
}

.services .boxcontainer .box .boxicon {
    margin-top: 10px;
}

.services .boxcontainer .box .boxicon span {
    margin: 10px 0;
    font-size: 35px;
    color: #B2FFA9;
}

.services .boxcontainer .box .title {
    color: #B2FFA9;
    font-size: 25px;
}

.services .boxcontainer .box p {
    font-size: 18px;
    color: #ffffff;
    padding: 10px;
}

.services .boxcontainer .box a {
    text-decoration: none;
    padding: 8px 25px;
    background-color: #B2FFA9;
    border: 1px solid #B2FFA9;
    border-radius: 40px;
    color: #0D1B1E;
    font-size: 20px;
    letter-spacing: 1.5px;
    display: block;
    transition: .3s;
    margin-top: 30px;
}

.services .boxcontainer .box a:hover {
    background-color: #0D1B1E;
    color: #B2FFA9;
}


/* Services Section */























/* Footer Section */

.footercontainer {
    color: #B2FFA9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footercontainer .footerflexrow {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footercontainer .footerflexrow li {
    padding: 0 15px;
    margin-bottom: 15px;
}

.footercontainer .footerflexrow li a {
    font-size: 20px;
    font-weight: 500;
    color: #B2FFA9;
}

.footercontainer .footerflexrow li i {
    color: #B2FFA9;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    border: 1px solid #B2FFA9;
    margin: 0 5px;
}

.footercontainer .footerflexrow li i:hover {
    color: #0D1B1E;
    transition: 1s ease;
    transform: rotate(360deg);
    background-color: #B2FFA9;
}

.footercontainer p {
    text-align: center;
    background-color: #B2FFA9;
    color: #0D1B1E;
    width: 100%;
    padding: 20px 0;
}


/* Footer Section */